{
    "show_model_analysis": false,
    "screen_width": 84,
    "screen_height": 84,
    "max_reward": 1,
    "max_punishment": -1,

    "batch_size": 32,
    "cnn_format": "NCHW",

    "max_step": 10000000,
    "memory_size": 1000000,
    "learn_start_step": 50000,
    "target_q_update_step": 10000,
    "train_step": 4,
    "test_step": 50000,
    "save_step": 500000,
    "discount": 0.99,

    "learning_rate": 0.00025,
    "learning_rate_minimum": 0.00005,
    "learning_rate_decay": 0.96,
    "learning_rate_decay_step": 50000,

    "epsilon_end": 0.05,
    "epsilon_start": 1.0,
    "epsilon_end_step": 1000000,

    "history_length": 4
}
